html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
  background-color: #f2f3f5;
}

/* Styles for the cover container */
.cover-box {
  display: flex;
}

/* Styles for the left-side cropping area */
.cover-left {
  width: 400px;
  height: 280px;
  overflow: hidden;
  margin-right: 20px;
}

/* Styles for the right-side box */
.cover-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the preview area */
.img-preview {
  width: 200px;
  height: 140px;
  background-color: #ccc;
  margin-bottom: 20px;
  overflow: hidden;
}
